.salida{
    font-size: 40px;
    background-color: transparent;
}
.eltexto{
    font-family: 'Quicksand', sans-serif;
    
  }
  .titulos{
    text-align: center;
  font-weight:bold;
  font-size:xx-large;
  font-size: 35px;
  font-family: 'Nanum Gothic', sans-serif;
  color: #3880ff;
}
