<!--***************** SCAN CAM *****************-->
<!--***************** ABRIL 2022 *****************-->
<!--*************** DESARROLADORES ***************** -->
<!--**************** CAMILA PARDO *****************-->
<!--**************** YESETH REYES *****************-->

<!--Formulario principal redireccionado al login -->
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>


<ion-content class="fondo">
  <ion-grid>
    <ion-row>
      <!--formulario cambio de contraseña-->
      <ion-col size-lg="3" size-md="4"></ion-col>
      <ion-col size="12" size-lg="6" size-md="8">
        <ion-card class="lacard">
          <ion-text  color="primary">
            <!--Titulo de cambio de contraseña user-->
            <h1 class="titulos">CAMBIO DE CONTRASEÑA</h1>
            </ion-text>
          <ion-card-content>
            <!--Formulario de cambio de contraseña -->
            <form [formGroup]="form" errorTailor>
              <h1 class="eltexto">Digite su correo electrónico</h1>
              <ion-item class="form-group" lines="full">
                <!--Correo User-->
                <ion-label position="floating" class="eltexto">Correo</ion-label>
                <!--enviar al correo los datos digitado para cambio de contraseña-->
                <ion-input  class="form-control" formControlName="correo" type="email" placeholder="Correo"  [(ngModel)]="datos.email" errorTailor ></ion-input>
              </ion-item>
              <br>
              <!--Alerta de envio de contraseña al Gmail-->
              <ion-row>
                <h2 class="eltexto">Se enviara un correo electrónico para continuar el cambio de contraseña</h2>
              </ion-row>
            </form>     
            <br>
            <br>
              <ion-row>
                <ion-col>
                  <!--Funcion de ejecucion del boton Para enviar correo-->
                  <div class="ion-text-center"><ion-button (click)="olvidar()" class="eltexto" [routerLink]="['/fullemail']"  type="submit" shape="round">Enviar Correo</ion-button>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
              </ion-row>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
