.card{
  margin-top: 7%;
  border-radius: 1rem;
}
.eltexto{
  font-family: 'Quicksand', sans-serif;
}
.titulos{
  text-align: center;
  font-weight:bold;
  font-size:xx-large;
  font-size: 35px;
  font-family: 'Nanum Gothic', sans-serif;
}
.titulo{
  text-align: center;
  font-weight:bold;
  margin: 20px;
  font-size: 25px;
  font-family: 'Nanum Gothic', sans-serif;
}
#verclave{
  margin-top: auto;
}
