.lacard{
    border-radius: 1rem;
    filter: drop-shadow(3px 3px 3px #444);
}
.texto{
    text-align: center;
}
.eltexto{
    font-family: 'Quicksand', sans-serif;

  }
  .titulos{
    font-size: 35px;
    font-family: 'Nanum Gothic', sans-serif;
  }
